
	<h2 class="govuk-heading-m">Register</h2>

	<div class="register">

  	<h3 class="govuk-heading-s heading-sub-reg">A Register: Property Register</h3>
  	<p class="govuk-heading-s sub-reg-intro">this register describes the land and estate in title.<br> bedford</p>

	  <ol class="list-number">
	    <li>(15.11.1989) The Freehold land shown edged with red on the<br>plan of the above Title filed at the Registry and being<br>Hinwickhouse, Wollaston Road, Hinwick, Wellingborough (NN29<br>7JE)</li>
	  </ol>

  	<h3 class="govuk-heading-s heading-sub-reg">B Register: Proprietorship Register</h3>

	  <ol class="list-number">
	    <li>(05.04.2017) PROPRIETOR: %ANDREW GORDAN MURRAY% and %JOY<br>MURRAY%  of 3 Norwood Avenue, Gosforth, *Newcastle Upon<br>Tyne* NE3 5NB</li>
	  </ol>			  

  	<h3 class="govuk-heading-s heading-sub-reg">C Register: Charges Resister</h3>
  	<p class="govuk-heading-s sub-reg-intro">this register contains any charges and other matters<br> thataffect the land.</p>

	  <ol class="list-number">
	    <li>(05.04.2017) A Conveyance of the land in this title and<br>other land dated 21 December 1933 made between (1) Sir<br>Joseph Frederick Laycock (Vendor) (2) John George Nixon and<br>George Alexander (Purchasers) contains covenants details of<br>which are set out in the shecdue of restrictive covenants<br>hereto</li>
	    <li class="govuk-!-margin-top-3">(05.04.2017) The land is subject to the following rights<br>reserved by the Conveyance dated 21 December 1933 referred<br>to above:- Except and reserved to unto the Vendor in fee<br>simple full and free right to use any sewers and drains to<br>be constructed under any part of the said piece of ground<br>for the carraige of sewage and surface water from the said<br>area coloured round with green on the said plan or any part<br>thereof and all buildings for the time thereon paying a<br>proportionate part of the cost of construction of such<br>drains and sewers such proportion in case of difference to<br>be settled by the Vendors Architect.</li>
	  </ol>

	  <p>NOTE:- Conveyance plan was supplied on first<br> registration.</p>
	</div>
