

	<h2 class="govuk-heading-m">Register</h2>

	<div class="register">

  	<h3 class="govuk-heading-s heading-sub-reg">A Register: Property Register</h3>
  	<p class="govuk-heading-s sub-reg-intro">this register describes the land and estate in title. bedford</p>

	  <ol class="list-number">
	    <li>(15.11.1989) The Freehold land shown edged with red on the plan of the above Title filed at the Registry and being <span class="property-address">Hinwickhouse, Wollaston Road, Hinwick, Wellingborough (NN29 7JE)</span></li>
	  </ol>

  	<h3 class="govuk-heading-s heading-sub-reg">B Register: Proprietorship Register</h3>

	  <ol class="list-number">
	    <li>(05.04.2017) PROPRIETOR: <span class="proprietor-name">Andrew Gordan Murray</span> and <span class="proprietor-name">Joy Murray </span> of <span class="proprietor-address">3 Norwood Avenue, Gosforth, *Newcastle Upon Tyne* NE3 5NB</span></li>
	  </ol>			  

  	<h3 class="govuk-heading-s heading-sub-reg">C Register: Charges Resister</h3>
  	<p class="govuk-heading-s sub-reg-intro">this register contains any charges and other matters that affect the land.</p>

	  <ol class="list-number">
	    <li>(05.04.2017) A Conveyance of the land in this title and other land dated 21 December 1933 made between (1) Sir Joseph Frederick Laycock (Vendor) (2) John George Nixon and George Alexander (Purchasers) contains covenants details of which are set out in the shecdue of restrictive covenants hereto</li>
	    <li class="govuk-!-margin-top-3">(05.04.2017) The land is subject to the following rights reserved by the Conveyance dated 21 December 1933 referred to above:- Except and reserved to unto the Vendor in fee simple full and free right to use any sewers and drains to be constructed under any part of the said piece of ground for the carraige of sewage and surface water from the said area coloured round with green on the said plan or any part thereof and all buildings for the time thereon paying a proportionate part of the cost of construction of such drains and sewers such proportion in case of difference to be settled by the Vendors Architect.</li>
	  </ol>

	  <p>NOTE:- Conveyance plan was supplied on first registration.</p>
	</div>
