
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Accessibility - in the core of the template
      </h1>
      <p>
        Skip links - space built into template.<br>
        links to main sections - task; register; documents (open documents)
      </p>

      <p>
        Visually hidden headings/content - to allow non visual navigation
      </p>

    </div>
</div>

{% endblock %}
