
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Casework responsive design template - exploring ideas.
      </h1>{{releaseVersion | log }}
      <p>
        This is to explore, document, show, share, aid discussion of what the fundamental responsive framework is for a casework system.
      </p>
      <p>
      	We don't know yet exactly how this system will be - eg we are exploring ideas for 2 or 3 main columns, but we do know some things, and we should explore what that means/might be like.
      </p>

      <h2 class="govuk-heading-m">What do we know about caseworkers kit</h2>
      <p>
      	What do we know, or can, or should assume - what constraints (enabling and restrictive) should we consider.
        <ul class="govuk-list govuk-list--bullet">
        	<li>They are predominantly desktop users - sat a desk with a base station and 2 monitors</li>
        	<li>desktop monitor default resolution in landscape orientation is 1680 x 1050</li>
        	<li>most users have both monitors in landscape orientation</li>
        	<li>some users have one monitor (the one for reading documents) in portrait resolution</li>
        	<li>desktop monitor default resolution in portrait orientation is ???? x ????</li>
        	<li>Internet explorer, version ??, is the default browser</li>
        	<li>Internet explorer is set by policy to default to 125% zoom level - dunno if many people have changed this</li>
        	<li>There maybe display settings - set by org policy - to increase the DPI size?  there used to be</li>
        	<li>Some - how many ??? - caseworkers have chrome browser??</li>
        	<li>Some caseworkers have the 'casework tools' on the left monitor and the 'documents' on the right monitor (or some tools on one, and some other tools on the ther).  Some caseworkers have it the opposite way around</li>
        	<li>Some, although we've not seen yet, caseworkers may have only one monitor?  Or might be in a situation with only one monitor? e.g. in a meeting? or when screen sharing, or when meeting the public in the public meeting rooms</li>
        	<li>Some, although we've not seen yet, caseworkers may work on a laptop e.g. as a temporary situation like in a meeting. e.g. on-site going to an ad-hoc meeting, or in a space with no meeting kit.</li>
        	<li>Non-caseworkers may need to show or demonstrate systems (in production or a test region) or prototypes with staff or senior management</li>
        	<li>Laptops - there might be a standard display resolution for our standard kit, but there may be a variety of laptops</li>
        	<li>we don't know about tablets - they may be used to demonstrate something rather than do casework on - but tech in actual use changes fast.</li>
        </ul>
      </p>
      

      <h2 class="govuk-heading-m">Design Assumptions</h2>

      <p>We should optimise for the most common kit/situations.  We probably don't need a mobile first design (but it shouldn't break), but we should ensure system is highly usable on single desktop displays, laptops, and tablets</p>

      <p>We need a page template, that meets the initial version of casework systems, but is able to be easily extended</p>

      <p>We need a grid system</p>

      <p>We need to not overlook accessibility - build in the structure needed at this page to not exclude by oversight</p>

      <p>We need to be able to maximise the screen space available to do casework</p>

      <p>We need to demonstrate/document the resolution break points, gutter, margins, padding - etc - the rules of the layout</p>

      <p>We have to think about this structure - how it will work with the components and patterns inside it - but we should document/set/explore the style/layout first</p>

      <p>copying govuk ideas, and other depts casework/internal system ideas - is the basis, so we reuse, and add to the pool of proven design inside gov.</p>

    </div>
</div>

{% endblock %}
