
{% extends "layout-index-brand.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row" style="background-color:lightgrey; margin-right:0px; margin-left:0px; padding-right:0px; padding-left:0px; padding-top:5px; padding-bottom:5px;">
	<div class="govuk-grid-column-one-quarter">
  	<h1 class="govuk-heading-m" style="margin-bottom:0px; line-height:25px;">
			Your tasks
		</h1>
	</div>
	<div class="govuk-grid-column-one-half">
		<span class="govuk-body" style="text-align:right; margin-bottom:0px">Death of Joint Proprietor</span>
		<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<span class="govuk-body" style="text-align:right; margin-bottom:0px">Title number: BD150324 </span>
	</div>
	<div class="govuk-grid-column-one-quarter">
  	<p class="govuk-body" style="text-align:right; margin-bottom:0px">
  		<a href="">Open all documents</a>
  	</p>
	</div>
</div>


<div class="govuk-grid-row" style="margin-top:15px">

  <div class="govuk-grid-column-one-half column-fixed-width-callum-outer">

		<div class="register-panel column-fixed-width-callum-inner">
  		{% include "./includes/_register-fixed-width.njk" %}
		</div> <!--  end reg panel -->

	</div>

	<div class="govuk-grid-column-one-half column-available-width-callum">
    <h2 class="govuk-heading-s">Autochecks</h2>
    <p class="govuk-body-s">Autocheck has performed a series of checks and verified the following changes.  You can use them while working on the application and you don't need to check them:</p>

    <div class="govuk-grid-row">
    	<div class="govuk-grid-column-one-third">
    		<h3 class="govuk-heading-s">Daylist</h3>
    		<ul class="govuk-list govuk-list--bullet">
    			<li>No Stops</li>
    			<li>No prior applications</li>
    		</ul>
    	</div>
    	<div class="govuk-grid-column-one-third">
    		<h3 class="govuk-heading-s">Register</h3>
    		<ul class="govuk-list govuk-list--bullet">
    			<li>No form A restrictions</li>
    		</ul>
    	</div>
    	<div class="govuk-grid-column-one-third">
    		<h3 class="govuk-heading-s">Application</h3>
    		<ul class="govuk-list govuk-list--bullet">
    			<li>Lodged by a valid conveyancer</li>
    			<li>Applicant is a surviving proprietor</li>
    			<li>Name of deceased matches evidence</li>
    		</ul>
    	</div>
    </div>


    <div class="govuk-grid-row">
    	<h2 class="govuk-heading-m">Your checks</h2>
    	<p>Autocheck could not read some informarion. Answer the following:</p>

	    <div class="govuk-form-group">
			    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
				      <h3 class="govuk-fieldset__heading">
				        Is there an additional transaction?
				      </h3>
				    </legend>
				    <div class="govuk-radios govuk-radios--small govuk-radios govuk-radios--inline">
			      <div class="govuk-radios__item">
			        <input class="govuk-radios__input" id="additional-transaction-y" name="additional-transaction" type="radio" value="yes">
			        <label class="govuk-label govuk-radios__label" for="additional-transaction-y">
			          Yes
			        </label>
			      </div>
			      <div class="govuk-radios__item">
			        <input class="govuk-radios__input" id="additional-transaction-n" name="additional-transaction" type="radio" value="no">
			        <label class="govuk-label govuk-radios__label" for="additional-transaction-n">
			          No
			        </label>
			      </div>
			    </div>
				  </fieldset>
			</div>

			<div class="govuk-form-group">
			    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
				      <h3 class="govuk-fieldset__heading">
				        Does the property match?
				      </h3>
				    </legend>
				    <div class="govuk-radios govuk-radios--small govuk-radios govuk-radios--inline">
			      <div class="govuk-radios__item">
			        <input class="govuk-radios__input" id="property-match-y" name="property-match" type="radio" value="yes">
			        <label class="govuk-label govuk-radios__label" for="property-match-y">
			          Yes
			        </label>
			      </div>
			      <div class="govuk-radios__item">
			        <input class="govuk-radios__input" id="property-match-n" name="property-match" type="radio" value="no">
			        <label class="govuk-label govuk-radios__label" for="property-match-n">
			          No
			        </label>
			      </div>
			    </div>
				  </fieldset>
			</div>


			<div class="govuk-form-group">
			    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
				      <h3 class="govuk-fieldset__heading">
				        Is it lodged by a valid conveyancer?
				      </h3>
				    </legend>
				    <div class="govuk-radios govuk-radios--small govuk-radios govuk-radios--inline">
			      <div class="govuk-radios__item">
			        <input class="govuk-radios__input" id="valid-conveyancer-y" name="valid-conveyancer" type="radio" value="yes">
			        <label class="govuk-label govuk-radios__label" for="valid-conveyancer-y">
			          Yes
			        </label>
			      </div>
			      <div class="govuk-radios__item">
			        <input class="govuk-radios__input" id="valid-conveyancer-n" name="valid-conveyancer" type="radio" value="no">
			        <label class="govuk-label govuk-radios__label" for="valid-conveyancer-n">
			          No
			        </label>
			      </div>
			    </div>
				  </fieldset>
			</div>

			<div class="govuk-form-group">
			    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
				      <h3 class="govuk-fieldset__heading">
				        Is the evidence of death sufficient?
				      </h3>
				    </legend>
				    <div class="govuk-radios govuk-radios--small govuk-radios govuk-radios--inline">
			      <div class="govuk-radios__item">
			        <input class="govuk-radios__input" id="death-evidence-y" name="death-evidence" type="radio" value="yes">
			        <label class="govuk-label govuk-radios__label" for="death-evidence-y">
			          Yes
			        </label>
			      </div>
			      <div class="govuk-radios__item">
			        <input class="govuk-radios__input" id="death-evidence-n" name="death-evidence" type="radio" value="no">
			        <label class="govuk-label govuk-radios__label" for="death-evidence-n">
			          No
			        </label>
			      </div>
			    </div>
				  </fieldset>
			</div>

			<div class="govuk-form-group">
			    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
				    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
				      <h3 class="govuk-fieldset__heading">
				        Whcih proprietor needs to be removed?
				      </h3>
				    </legend>
				    <div class="govuk-radios govuk-radios--small govuk-radios govuk-radios--inline">
			      <div class="govuk-radios__item">
			        <input class="govuk-radios__input" id="which-proprietor-1" name="which-proprietor" type="radio" value="yes">
			        <label class="govuk-label govuk-radios__label" for="which-proprietor-1">
			          Proprietor 1
			        </label>
			      </div>
			      <div class="govuk-radios__item">
			        <input class="govuk-radios__input" id="which-proprietor-2" name="which-proprietor" type="radio" value="no">
			        <label class="govuk-label govuk-radios__label" for="which-proprietor-2">
			          Proprietor 2
			        </label>
			      </div>
			    </div>
				  </fieldset>
			</div>
    </div>
    <!-- end questions row -->

    <div class="govuk-grid-row">
    	<h2 class="govuk-heading-m">Application options</h2>

    	<details class="govuk-details" data-module="govuk-details">
			  <summary class="govuk-details__summary">
			    <span class="govuk-details__summary-text">
			      Add note, if needed
			    </span>
			  </summary>
			  <div class="govuk-details__text">
			    'PAS' notes functionality 
			  </div>
			</details>

    </div>
    <!-- end application options / notes row -->

    <div class="govuk-grid-row">
    	<p>
    	<button class="govuk-button" data-module="govuk-button">
			  Submit answers
			</button>
			<a style="display: inline-block; margin-top:7px;" href="">Return to ESRV</a>
		</p>

    </div>


	</div>

</div>




{% endblock %}