
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Maximise working space
      </h1>

      <p>maximise the work seen without scrolling, but whitespace is the amin form of separation of elements</p>

      <p>
        whitespace is important.<br>
        we can utilise more of the screen and use less whitespace.

      </p>
      	At the page level:<br>
        page margins can be reduced
        header and footer space can be reduced
      </p>

      <p>
        At the component level<br>
        reduce the amount of margin and padding around/between elements.
      </p>

    </div>
</div>

{% endblock %}
