
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Page template
      </h1>
      <p>
        Structure of page - blocks.<br>
        Copy of gov.uk - keep structure replace with HMLR header and footer.<br>
        https://design-system.service.gov.uk/styles/page-template/
      </p>
      <img style="width:100%;" src="/public/images/design-system-service-gov-uk-styles-page-template-block-areas-index-html.png">

    </div>
</div>

{% endblock %}
